ion-header
  ion-navbar
    ion-title Log in

ion-content
  ion-list
    ion-item
      ion-label User name
      ion-input(type="text", [(ngModel)]="user.username")
    ion-item
      ion-label Password
      ion-input(type="password", [(ngModel)]="user.password")
    button(ion-button, (click)="login()") Log in
    button(ion-button, (click)="goSignup()") Sign up
