ion-content
  ion-list
    ion-item
      ion-label Email
      ion-input(type="text", [(ngModel)]="user.email")
    ion-item
      ion-label Password
      ion-input(type="password", [(ngModel)]="user.password")
    button(ion-button, (click)="signup()") Sign up
